* {
  font-family: "Mouse Memoirs", sans-serif;
  text-align: center;
  margin: 0 auto;
  color: rgba(70, 70, 70, 0.884);
}

body {
  background-image: url(../images/chicos.jpeg);
}

#iconsc1{
  width: 40px;
  margin-bottom: 4px;
}

#iconsn1{
  width: 70px;
  margin-bottom: 19px;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  padding: 0;
  white-space: nowrap;
}

header {
  margin-top: 15px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.322),
    white,
    white,
    white,
    white,
    rgba(255, 255, 255, 0.322)
  );
  font-size: 50px;
  margin-bottom: 15px;
  color: #6c757d;
}

#divcentral1,
#timerrow1,
#timerrow2 {
  display: none;
}

#divcentral2 {
  display: none;
}

#divcentral3 {
  display: none;
}

#timerrow1,
#timerrow2 {
  position: absolute;
  top: 0px;
  right: 3px;
  color: rgb(41, 41, 41);
}

h4 {
  font-size: 2rem;
  line-height: 110%;
  margin: 0;
}
.glow {
  margin-bottom: 0.5rem;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  animation-delay: 0s;
}

@keyframes glow {
  to {
    text-shadow: 0 0 20px #c8102e, 0 0 30px #c8102e, 0 0 40px #c8102e,
      0 0 50px #c8102e, 0 0 60px #c8102e, 0 0 70px #c8102e, 0 0 80px #c8102e;
  }
}

.tc {
  width: 20px;
  margin: 0 auto;
}

.allmaindiv {
  margin-bottom: 15px;
  padding-top: 30px;
  min-height: 400px;
}

.q,
.qq {
  color: rgba(70, 70, 70, 0.884);
  width: 85%;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  margin-left: 7.5%;
}

#answer {
  padding: 15px 15px 0px 15px;
  margin: 10px 10px 0px 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#transanswer {
  padding: 0px 15px 15px 15px;
  margin: 0px 10px 10px 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.q:hover,
.qq:hover {
  background: rgb(15, 111, 126);
  color: azure;
}

.next,
.nextn {
  margin: auto;
  height: auto;
  min-width: 30%;
  font-size: 25px;
  margin-bottom: 75px;
}

.start,
.startn {
  margin: 0 auto;
  min-width: 30%;
  height: 150%;
  font-size: 25px;
  margin-bottom: 65px;
}

#rwt {
  margin: 0 auto;
  text-align: center;
  width: 85%;
  font-size: 300%;
  margin-bottom: 10px;
}

#winrow,
#looserow,
#timeoutrow {
  margin: 0 auto;
  padding: 0;
}

#divcentral3 #winrow {
  margin-top: 50px;
}

#questionimg {
  width: 90%;
  border-radius: 2%;
  border: solid 1px rgba(70, 70, 70, 0.884);
  height: 95%;
}

#colanswers {
  margin-top: 20px;
}

.row {
  margin: auto;
  margin-bottom: 10px;
}

#colrigth {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
  color: black;
  padding: 10px;
  margin: 5px;
}

h3 {
  font-size: 2.25rem;
}

.container-fluid {
  margin-top: 20px;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15px;
  margin-left: 15px;
  background: rgba(255, 255, 255, 0.75);
  position: relative;
}

#colpictureright {
  margin-bottom: 40px;
}


li{
  font-family: "Roboto", sans-serif !important;
}