h3 span {
  color: rgb(252, 6, 51);
}

.index,
.home,
.learning,
.animals,
.container-fluid {
  background-image: url(../images/chicos.jpeg);
}

.form-control {
  background-color: rgba(255, 255, 255, 0);
  color: #d1d1d1;
  font-size: 45px;
}

option{
  font-size: 30px;
}

.mar {
  margin: 0px;
}

#h3gueswords {
  margin: 0.5rem 0 2rem 0;
}

#rownum2 {
  display: none;
}

#rownum1,
#rownum2 {
  margin-top: 175px;
}

#numberimg {
  font-size: 900%;
  border: solid 10px #2bbbad;
  background-color: rgba(203, 206, 203, 0.5);
}

nav .brand-logo {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 55px;
}
.side-nav {
  font-family: "Mouse Memoirs", sans-serif;
}
.side-nav a {
  font-size: 24px;
}

button,
input,
optgroup,
select,
textarea {
  color: white;
}

input[type="text"] {
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid white;
}

.card {
  font-family: "Mouse Memoirs", sans-serif;
  margin-top: 25px;
}

.input-field label {
  font-size: 3rem;
  text-align: center;
  color: black;
}

#table {
  background-color: white;
  margin-top: 200px;
}

/* Home html style buttons */

.btn-large {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 3.5rem;
  margin: 10px;
}

.btn {
  font-size: 30px;
  margin-bottom: 20px;
}

#rownum1,
#rownum2 {
  margin-top: 175px;
}

.card-header {
  font-size: 2.5rem;
  background-color: #2bbbad;
}

.card-body1 {
  font-size: 1.5rem;
}

.f{
  font-family: "Roboto", sans-serif !important;
}

