.index, .home, .learning, .animals, .container-fluid{
    background-image: url(../images/chicos.jpeg);
}
nav .brand-logo{
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 55px;
 }

 .side-nav{
	font-family: 'Mouse Memoirs', sans-serif;
	
}
.side-nav a{
	font-size: 24px;
}

button, input, optgroup, select, textarea {
	color: white;
}

input[type=text] {
	font-size: 3rem;
	text-align: center;
	border-bottom: 2px solid white;
}

/*#input#username.validate {
	color: white;
}*/

.card{
	font-family: 'Mouse Memoirs', sans-serif;
	margin-top: 100px;
}

.input-field label{
	font-size: 3rem;
	text-align: center;
	color: black;
}

#table{
	background-color: white;
	margin-top: 200px;
}

.btn-large {
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 2rem;
}

.btn {
	font-size: 30px;
    margin-bottom: 20px
}

h3 span {
	color: rgb(90, 22, 34);
  }

#row2{
	display: none;
  }

  #row1{ 
	  height: 400px;
  }